*.o
/.deps/
/.pc/
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/depcomp
/install-sh
/intl/
/missing
/vobcopy
Makefile
Makefile.in
/config.h
/config.h.in
/stamp-h1
/m4/*.m4
/ABOUT-NLS
/config.guess
/config.rpath
/config.sub
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/po/vobcopy.pot
