*.log
*.o
.deps/
.dirstamp
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/intl/
/missing
/test-driver
/tests/*.trs
/tests/cli-smoke.trs
/tests/unit_dvd_image
/tests/unit_helpers
/tests/unit_image_output_flow
/vobcopy
Makefile
Makefile.in
stamp-h1
