Source: vobcopy
Section: utils
Priority: optional
Maintainer: Stephen Birch <sgbirch@imsmail.org>
Build-Depends: debhelper (>= 5), libdvdread-dev
Standards-Version: 3.7.3

Package: vobcopy
Architecture: any
Depends: ${shlibs:Depends}
Description: A tool to copy DVD VOBs to hard disk
 vobcopy copies DVD .vob files to harddisk and merges them into file(s)
 with the name extracted from the DVD. It checks for enough free space
 on the destination drive and compares the copied size to the size on DVD
 (in case something went wrong during the copying).
 .
 You can also mirror the DVD movie content and copy single
 files you specify.
